[Desktop Entry]
Name=Helwan USB ISO Writer
Comment=A professional tool to write ISO images to USB drives
# يتم استدعاء الملف التنفيذي الناتج من Nim مباشرة
Exec=helwan_usb_writer
# المسار الاحترافي للأيقونة على النظام
Icon=/usr/share/pixmaps/helwan-usb.png
Terminal=false
Type=Application
Categories=System;Utility;
Keywords=usb;iso;writer;bootable;checksum;
StartupNotify=true
# إضافة الترجمة العربية كخيار فرعي للنظام
Name[ar]=حارق اليو إس بي - حلوان
Comment[ar]=أداة احترافية لحرق صور الآيزو على الفلاشة