[Desktop Entry]
Name=Helwan USB Writer
Name[ar]=حارق حلوان
Comment=A professional tool to write ISO images to USB
Comment[ar]=أداة احترافية لحرق صور الآيزو على الفلاشة
Exec=hel-usb-writer
Icon=helwan-usb
Terminal=false
Type=Application
Categories=System;Utility;
Keywords=usb;iso;writer;burn;helwan;
