name: Build Checker
on:
  push:
    branches: [ main, master ]

jobs:
  build-check:
    runs-on: ubuntu-latest
    container: archlinux:latest
    steps:
      - name: Install Dependencies
        run: |
          pacman -Syu --noconfirm
          pacman -S --noconfirm git nim nimble gtk4 libadwaita gobject-introspection base-devel

      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Build Program
        run: |
          # تثبيت gintro (بياخد وقت شوية في أول مرة لأنه بيولد الروابط)
          nimble install --accept gintro
          cd HelwanUSBWriter
          # التجميع باستخدام gintro
          nim c -d:release --out:../hel-usb-writer src/helwan_usb_writer.nim
